<div class="modal-header">
  <h4 class="modal-title">Create IDS</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="property-item">
    <label>ID</label><input class="form-control" [(ngModel)]="ids.id" placeholder="Enter IDS URI"></div>
  <div class="property-item">
    <label>Name</label><input class="form-control" [(ngModel)]="ids.name" placeholder="Enter IDS name"></div>
</div>
<div class="modal-footer">
  <button *ngIf="!errorMessage" (click)="onCreateClick()" [disabled]="!(ids.id && ids.name)" type="button" class="btn btn-success">Create
  </button>
  <!--  <div *ngIf="errorMessage" class="container-fluid">
      <ngb-alert (close)="closeAlert()">{{errorMessage}}</ngb-alert>
    </div>-->
</div>
