<div class="card">
  <div class="row card-header">
    <h5 class="card-title">Information Delivery Specification repository</h5>
    <span *ngIf="getToken() != null">
      <button (click)="onAddIdsClicked()"
              [disabled]="getToken() == null"
              type="button" class="col-1 btn"
              style="color: #15a589; background: transparent; margin: 0px; padding: 0px">
      <fa-icon [icon]="faPlusCircle" size="3x" ngbTooltip="Add an Information Delivery Specification"
               placement="right"></fa-icon>
    </button>
    <span *ngIf="loadingAllIDSs">
      <fa-icon [icon]="faSpinner" size="2x" fixedWidth></fa-icon>
      <span class="sr-only">Loading...</span></span></span>
  </div>
  <div class="row card-body repository-body">
    <div [class]="selectedIDS?'col-xs-12 col-sm-12 col-md-4':'col-xs-12 col-sm-12 col-md-12 col-lg-12'"
         style="overflow-y: auto; max-height: 800px">
      <!--<div *ngIf="allIDSs" class="card-body">-->
      <table class="table">
        <thead>
        <th>id</th>
        <th>name</th>
        </thead>
        <tbody>
        <tr [class]="selectedIDS?(ids.name===selectedIDS.name?'selected-item link-item':'link-item'):'link-item'"
            (click)="onClickIds(ids)"
            *ngFor="let ids of allIDSs">
          <td class="d-sm-table-cell">{{ids.id}}</td>
          <td>{{ids.name}}</td>
          <td *ngIf="isLoadingIDS(ids)"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
            <span class="sr-only">Loading...</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8">
      <app-information-delivery-specification *ngIf="selectedIDS" [selectedIDS]="selectedIDS"></app-information-delivery-specification>
    </div>
  </div>
</div>
