<div class="modal-header bg-success">
  <h4 class="modal-title text-white">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label class="col-form-label-sm">Email</label>
    <input type="text" class="form-control" [(ngModel)]="email" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="col-form-label-sm">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" placeholder="Enter password">
  </div>
  <div *ngIf="payload"><p>{{payload.token}}</p></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary" (click)="signUp()">Sign up</button>
  <button *ngIf="!errorMessage" type="button" class="btn btn-success" (click)="login()" [disabled]="!email">Login
  </button>
  <div *ngIf="errorMessage" class="container-fluid">
    <ngb-alert (close)="closeAlert()">{{errorMessage}}</ngb-alert>
  </div>
</div>
