<div class="container-fluid">
  <nav class="navbar navbar-dark bg-primary">
    <h3 class="navbar-brand">BIMbots PSD Repository</h3>
    <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['information_delivery_specification']">information delivery
          specification</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['products']">products</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>
