<div class="card">
  <div class="card-header"><h5>Information Delivery Specifications</h5></div>
  <div *ngIf="allIDSs" class="card-body">
    <table class="table">
      <thead>
      <th>id</th>
      <th>name</th>
      </thead>
      <tbody>
      <tr class="link-item" (click)="onClickIds(ids)" *ngFor="let ids of allIDSs">
        <td class="d-sm-table-cell">{{ids.id}}</td>
        <td>{{ids.name}}</td>
        <td *ngIf="loading"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
          <span class="sr-only">Loading...</span></td>
      </tr>
      </tbody>
    </table>
    <div class="card" *ngIf="selectedIDS">
      <div class="card-header"><h6>{{selectedIDS.name}}</h6></div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>PSET</th>
            <th>mandatory properties</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pset of selectedIDS.reqPsets">
            <td>{{pset.propertySetDef.name}}</td>
            <td *ngIf="!(pset==editedPset)"><span
              *ngFor="let propDef of pset.reqProps; let last = last">{{propDef.name}}{{last ? '' : ', '}}</span>
            <td *ngIf="(pset==editedPset)"><label style="margin-right: 2em"
                                                  *ngFor="let propdef of pset.propertySetDef.propertyDefs"><input
              class="form-check-inline" [checked]="isChecked(propdef, pset)" (change)="onChange(propdef, pset)"
              type="checkbox"> {{propdef.name}}</label>
            </td>
            <td>
              <button type="button" [class]="pset===editedPset? 'btn btn-success':'btn'"
                      (click)="toggleEditedPset(pset)">
                <fa name="edit"></fa>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
