<div *ngIf="selectedPropSetDef" class="row card">
  <div class="card-header">
    <h5 class="card-title">{{selectedPropSetDef.name}}</h5>
    <span><button *ngIf="propertySetDefinitionService.user"
                  (click)="onDeletePSD()" [disabled]="!isOwner()"
                  type="button" class="col-1 btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px">
    <fa-icon [icon]="faTrash" size="2x" ngbTooltip="Delete this property set" placement="right"></fa-icon>
    </button></span>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>

      <!-- Name -->
      <tr class="link-item">
        <th>name</th>
        <td *ngIf="!(editedItem==='name')" (click)="selectItem('name')"
            [class]="selectedItem==='name'?'selected-item link-item':'link-item'">{{selectedPropSetDef.name}}</td>
        <td *ngIf="editedItem==='name'">
          <input class="form-control" type="text" [(ngModel)]="selectedPropSetDef.name" placeholder="Enter name"></td>
        <td *ngIf="selectedItem==='name'">
          <button (click)="editItem('name')"
                  ngbTooltip="Update name"
                  placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='name')"></td>
      </tr>

      <!-- ID -->
      <tr>
        <th>ID</th>
        <td>{{selectedPropSetDef.id}}</td>
        <td *ngIf="!(selectedItem==='ID')"></td>
      </tr>

      <!-- Definition -->
      <tr class="link-item">
        <th>definition</th>
        <td *ngIf="!(editedItem==='definition')" (click)="selectItem('definition')"
            [class]="selectedItem==='definition'?'selected-item link-item':'link-item'">{{selectedPropSetDef.definition}}</td>
        <td *ngIf="editedItem==='definition'">
          <input class="form-control" type="text" [(ngModel)]="selectedPropSetDef.definition"
                 placeholder="Enter definition"></td>
        <td *ngIf="selectedItem==='definition'">
          <button (click)="editItem('definition')"
                  ngbTooltip="Update definition"
                  placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='definition')"></td>
      </tr>

      <!-- Applicable classes -->
      <tr>
        <th>applicable classes</th>
        <td *ngIf="!(editedItem==='applicableClasses')" (click)="selectItem('applicableClasses')"
            [class]="selectedItem==='applicableClasses'?'selected-item link-item':'link-item'"><span
          *ngFor="let appClass of selectedPropSetDef.applicableClasses; let last = last">{{appClass}}{{!last ? ', ' : ''}}</span>
        </td>
        <td *ngIf="editedItem==='applicableClasses'">
          <table>
            <ng-container *ngIf="selectedPropSetDef.applicableClasses">
              <tr *ngFor="let applicableClass of selectedPropSetDef.applicableClasses">
                <td>{{applicableClass}}</td>
                <td>
                  <button class="btn" (click)="removeApplicableClass(applicableClass)" ngbTooltip="Remove this class"
                          placement="top"
                          type="button" class="btn"
                          style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
                    class="fas fa-minus-circle fa-2x"></i></button>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td><select class="form-control" [(ngModel)]="applicableProduct">
                <option *ngFor="let product of products">{{product}}</option>
              </select></td>
              <td>
                <button type="button" class="btn" (click)="addApplicableClass()" ngbTooltip="Add this class"
                        placement="top"
                        [disabled]="!applicableProduct"
                        style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
                  class="fas fa-plus-circle fa-2x"></i>
                </button>
              </td>
            </tr>
          </table>
        </td>
        <td *ngIf="selectedItem==='applicableClasses'">
          <button (click)="editItem('applicableClasses')"
                  ngbTooltip="Update applicable classes"
                  placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='applicableClasses')"></td>
      </tr>

      <!-- Property definitions -->
      <tr>
        <th>property definitions</th>
        <td *ngIf="!(editedItem==='propertyDefs')" (click)="selectItem('propertyDefs')"
            [class]="selectedItem==='propertyDefs'?'selected-item link-item':'link-item'">
          <a *ngFor="let propertyDef of sort(selectedPropSetDef.propertyDefs); let last = last"
             (click)="selectPropertyDef(propertyDef)"
             [class]="selectedPropDef?(propertyDef.name==selectedPropDef.name?'selected-property-def link-item':'link-item'):'link-item'"
          >{{propertyDef.name}}{{last ? '' : ', '}}</a>
        </td>
        <td *ngIf="editedItem==='propertyDefs'">
          <table>
            <ng-container *ngIf="selectedPropSetDef.propertyDefs">
              <tr *ngFor="let propertyDef of selectedPropSetDef.propertyDefs">
                <td>{{propertyDef.name}}</td>
                <td>
                  <button class="btn" (click)="removePropertyDef(propertyDef)"
                          ngbTooltip="Remove this property" placement="top"
                          type="button" class="btn"
                          style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
                    class="fas fa-minus-circle fa-2x"></i></button>
                </td>
              </tr>
            </ng-container>
            <tr>
              <td><select [(ngModel)]="selectedPD" class="form-control">
                <option *ngFor="let propertyDef of allPDs" [ngValue]="propertyDef">
                  {{propertyDef.name}} <span
                  *ngIf="propertyDef.invPropertySetDefinitions">({{propertyDef.invPropertySetDefinitions[0].name}}
                  )</span>
                </option>
              </select></td>
              <td>
                <button type="button" class="btn" (click)="addPropertyDef()"
                        ngbTooltip="Add this property" placement="top"
                        [disabled]="!selectedPD"
                        style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
                  class="fas fa-plus-circle fa-2x"></i>
                </button>
              </td>
            </tr>
          </table>
        </td>
        <td *ngIf="selectedItem==='propertyDefs'">
          <button (click)="editItem('propertyDefs')"
                  ngbTooltip="Update properties" placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='propertyDefs')"></td>
      </tr>
      <tr *ngIf="selectedPropDef">
        <td colspan="2">
          <app-property-definition [selectedPropDef]="selectedPropDef"></app-property-definition>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
