<div *ngIf="selectedPropSetDef" class="card">
  <div class="card-header"><h5 class="card-title">{{selectedPropSetDef.name}}</h5></div>
  <div class="card-body">
    <table class="table">
      <tbody>

      <!-- Name -->
      <tr class="link-item">
        <th>name</th>
        <td *ngIf="!(editedItem==='name')" (click)="selectItem('name')"
            [class]="selectedItem==='name'?'selected-item link-item':'link-item'">{{selectedPropSetDef.name}}</td>
        <td *ngIf="editedItem==='name'">
          <input class="form-control" type="text" [(ngModel)]="selectedPropSetDef.name" placeholder="Enter name"></td>
        <td *ngIf="selectedItem==='name'">
          <button (click)="editItem('name')"
                  ngbTooltip="Update name"
                  placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='name')"></td>
      </tr>

      <!-- ID -->
      <tr>
        <th>ID</th>
        <td>{{selectedPropSetDef.id}}</td>
        <td *ngIf="!(selectedItem==='ID')"></td>
      </tr>

      <!-- Definition -->
      <tr class="link-item">
        <th>definition</th>
        <td *ngIf="!(editedItem==='definition')" (click)="selectItem('definition')"
            [class]="selectedItem==='definition'?'selected-item link-item':'link-item'">{{selectedPropSetDef.definition}}</td>
        <td *ngIf="editedItem==='definition'">
          <input class="form-control" type="text" [(ngModel)]="selectedPropSetDef.definition"
                 placeholder="Enter definition"></td>
        <td *ngIf="selectedItem==='definition'">
          <button (click)="editItem('definition')"
                  ngbTooltip="Update definition"
                  placement="top"
                  type="button" class="btn"
                  style="color: #15a589; background: transparent; margin: 0px; padding: 0px"><i
            class="fas fa-edit fa-2x"></i></button>
        </td>
        <td *ngIf="!(selectedItem==='definition')"></td>
      </tr>

      <!-- Applicable classes -->
      <tr>
        <th>applicable classes</th>
        <td>{{selectedPropSetDef.applicableClasses}}</td>
        <td *ngIf="!(selectedItem==='applicableClasses')"></td>
      </tr>

      <!-- Property definitions -->
      <tr>
        <th>property definitions</th>
        <td><a *ngFor="let propertyDef of sort(selectedPropSetDef.propertyDefs); let last = last"
               (click)="selectPropertyDef(propertyDef)"
               [class]="selectedPropDef?(propertyDef.name==selectedPropDef.name?'selected-property-def link-item':'link-item'):'link-item'"
        >{{propertyDef.name}}{{last ? '' : ', '}}</a>
        </td>
        <td *ngIf="!(selectedItem==='propertyDefs')"></td>
      </tr>
      <tr *ngIf="selectedPropDef">
        <td colspan="2">
          <app-property-definition [selectedPropDef]="selectedPropDef"></app-property-definition>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
