<div class="card">
  <div class="card-body">
    <table class="table">
      <tbody>
      <tr>
        <th>name</th>
        <td>{{selectedPropDef.name}}</td>
      </tr>
      <tr>
        <th>definition</th>
        <td>{{selectedPropDef.definition}}</td>
      </tr>
      <tr>
        <th>property type</th>
        <td>{{selectedPropDef.propertyType.type}}</td>
      </tr>
      <tr *ngIf="selectedPropDef.propertyType.dataType">
        <th>data type</th>
        <td>{{selectedPropDef.propertyType.dataType}}</td>
      </tr>
      <tr *ngIf="getPropertyType() === '#TypePropertyEnumeratedValue'">
        <th>enum items</th>
        <td>
          <span
            *ngFor="let item of selectedPropDef.propertyType.enumItems; let last = last">{{last ? item : item + ', '}}
          </span>
        </td>
      </tr>
      <tr *ngIf="getPropertyType() === '#TypePropertyReferenceValue'">
        <th>ref type</th>
        <td>{{selectedPropDef.propertyType.reftype}}</td>
      </tr>
      <ng-container *ngIf="getPropertyType() === '#TypePropertyTableValue'">
        <tr>
          <th>defining value</th>
          <td>{{selectedPropDef.propertyType.definingValue}}</td>
        </tr>
        <tr>
          <th>defined value</th>
          <td>{{selectedPropDef.propertyType.definedValue}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
